<!-- profile -->
<div th:fragment="unfollowitem(recommends)" class="col-12 col-sm-6 col-md-12 col-lg-4" th:each="item:${recommends}"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="profile">
        <div class="profile__logo">
            <img th:src="${item.imgurl}" alt="用户头像">
        </div>
        <div class="profile__wrap">
            <h2 class="profile__title"><a href="#"><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${item.nickname}]]</span></span></a></h2>
            <p class="profile__text"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">[[${item.account}]]</span></span>
            </p>
        </div>
        <div class="profile__actions">
            <div class="post__location">
                <i class="icon ion-ios-navigate"></i>
                <span><span style="vertical-align: inherit;"><span
                        style="vertical-align: inherit;">[[${item.address}]]</span></span></span>
            </div>
            <div class="post__actions">
                <button class="post__actions-btn post__actions-btn--blue" th:onclick="@{'followit(this.id)'}"
                        th:id="@{'btn-'+${item.account}}">
											<span>
												<span style="vertical-align: inherit;"><span
                                                        style="vertical-align: inherit;">关注Ta</span></span>
											</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end profile -->

<div th:fragment="followitem(recommends)" class="col-12 col-sm-6 col-md-12 col-lg-4" th:each="item:${recommends}"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="profile">
        <div class="profile__logo">
            <img th:src="${item.imgurl}" alt="用户头像">
        </div>
        <div class="profile__wrap">
            <h2 class="profile__title"><a href="#"><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${item.nickname}]]</span></span></a></h2>
            <p class="profile__text"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">[[${item.account}]]</span></span>
            </p>
        </div>
        <div class="profile__actions">
            <div class="post__location">
                <i class="icon ion-ios-navigate"  style="color: #1ecd4a"></i>
                <span><span style="vertical-align: inherit;"><span
                        style="vertical-align: inherit;">[[${item.address}]]</span></span></span>
            </div>
            <div class="post__actions">
                <button class="post__actions-btn post__actions-btn--blue" th:onclick="@{'unfollowit(this.id)'}"
                        th:id="@{'btn-'+${item.account}}">
											<span>
												<span style="vertical-align: inherit;"><span
                                                        style="vertical-align: inherit;">取关Ta</span></span>
											</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end profile -->