<div class="col-12 col-md-5 col-lg-4 col-xl-3" th:fragment="userinfo(user)" xmlns:th="http://www.w3.org/1999/xhtml" style="float: left">
    <link type="text/css" href="../static/layui/css/layui.css"/>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
<!--    <link href="https://cdn.staticfile.org/ionic/1.3.2/css/ionic.css" rel="stylesheet">-->
<!--    <script src="https://cdn.staticfile.org/ionic/1.3.2/js/ionic.bundle.min.js"></script>-->
    <!-- user -->
    <div class="user">
        <div class="user__head" style="background-color: #104575">
            <div class="user__img">
                <img th:if="${user.imgurl} != null" th:src="${user.imgurl}" alt="用户头像">
            </div>
        </div>
        <div class="user__title">
            <h2><span style="vertical-align: inherit;"><i class="icon ion-ios-person"><span style="vertical-align: inherit;">[[${user.nickname}]]</span></i></span></h2>
            <p><span style="vertical-align: inherit;"><i class="icon ion-ios-mail"></i><span style="vertical-align: inherit;">[[${user.email}]]</span></span></p>
            <div class="profile__actions">
                <div class="post__location" >
                    <i class="icon ion-ios-navigate" style="color: #1ecd4a"></i>
                    <span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">[[${user.address}]]</span></span></span>
                </div>
            </div>
        </div>
        <ul class="user__list">
            <li><span><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">账号：</span></span></span> <span><span
                    style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${user.account}]]</span></span></span></li>
            <li><span><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">年龄：</span></span></span> <span><span
                    style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${user.age}]]</span></span></span></li>
            <li><span><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">性别：</span></span></span> <span><span
                    style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${user.gender}]]</span></span></span></li>
            <li><span><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">兴趣：</span></span></span> <span><span
                    style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">[[${user.hobbyList}]]</span></span></span></li>
        </ul>
        <ul class="user__stats">
            <li>
                <i class="icon ion-ios-people"></i>
                <p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">关注的人</span></span></p>
                <span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                    <a th:if="${myfollowing}>0" href="/user/myfollowing">[[${myfollowing}]]</a>
                    <a th:if="${myfollowing}==0" onclick="layer.alert('您还没有关注任何人呢～',{icon: 6})">[[${myfollowing}]]</a>
                </span></span></span>
            </li>
            <li>
                <i class="icon ion-ios-people"></i>
                <p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">关注我的</span></span></p>
                <span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                    <a th:if="${follower}>0" href="/user/follower">[[${follower}]]</a>
                    <a th:if="${follower}==0" onclick="layer.alert('还没有人关注你呢～',{icon: 6})">[[${follower}]]</a>
                </span></span></span>
            </li>
        </ul>
    </div>
    <!-- end user -->

    <!-- social -->
    <div class="sidebox">
        <div class="sidebox__share">
            <span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">NetWork：</span></span></span>
            <ul>
                <li class="fa-wechat"><a href="https://wx.qq.com/"><i class="icon ion-ios-aperture"></i></a></li>
                <li class="email"><a href="https://mail.qq.com/"><i class="icon ion-ios-mail"></i></a></li>
                <li class="fa-music"><a href="https://music.163.com/"><i class="icon ion-ios-musical-note"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end social -->
</div>